@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

html {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  font-family: "Lato", sans-serif;
  background: #132d46;
  color: #fff;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  background-color: #132d46;
}

section {
  max-width: 1240px;
  padding-block: 6rem;
  padding-inline: 10px;
  text-align: center;
  margin: 0 auto;
}

h2 {
  color: #fff;
  text-align: center;
  font-size: 2.5rem;
  font-weight: 800;
  margin-bottom: 50px;
  text-transform: uppercase;
}

img {
  width: 100%;
  height: 100%;
  display: block;
  border-radius: 20px 20px 0 0;
}

button {
  padding: 15px;
  outline: none;
  border-radius: 30px;
  cursor: pointer;
  font-size: 0.9rem;
  font-weight: 300;
  transition: 0.4s;
  background-color: #01c36d;
  color: #fff;
  border: none;
}

button:hover {
  background: #191e29;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  height: 3.5rem;
  max-width: 1160px;
  margin: 0 auto;
  padding: 15px 25px;
}

@media (width < 1024px) {
  .nav__menu {
    position: absolute;
    top: -1000px;
    left: 0;
    width: 100%;
    height: 50vh;
    background-color: #132d46;
    padding: 5rem 4rem;
    transition: .5s;
  }
  .nav__close {
    position: absolute;
    top: 1.25rem;
    right: 1.25rem;
  }
  .nav__list {
    display: flex;
    align-items: center;
    gap: 20px;
    flex-direction: column;
  }
  .nav__link {
    color: #fff;
    font-weight: 600;
    font-size: 1.1rem;
    transition: .4s;
    text-transform: uppercase;
  }
  .nav__link:hover {
    color: #01c36d;
  }
}

.show-menu {
  top: 0;
}

.nav__logo {
  font-size: 1.1rem;
  font-weight: 600;
  color: #ffffff;
}

.logo--bold {
  color: #01c36d;
  font-weight: 900;
}

.nav__close,
.nav__toggle {
  display: flex;
  font-size: 1.5rem;
  color: #fff;
  cursor: pointer;
}

/*------------ HOME ------------*/
#home {
  background: #132d46;
  text-align: center;
  padding-top: 10rem;
}

.home__container {
  color: white;
  max-width: 1124px;
  margin: auto;
}

.home__title {
  font-size: 2.8rem;
  font-weight: 900;
}

.desc--two {
  display: none;
  margin-bottom: 15px;
}

.home__desc {
  margin-block: 20px;
  font-size: 1.2rem;
  font-weight: 300;
}

.home__buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 15px;
}

/*------------ ABOUT ------------*/
#about {
  background-color: #01c36d;
  border-radius: 50px;
}

.about__container {
  max-width: 400px;
  margin: 0 auto;
}

.about__socials {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 30px;
  gap: 20px;
}

.about__icon {
  font-size: 30px;
  cursor: pointer;
}

.about__icon i {
  transition: 0.3s;
}

.about__icon i:hover {
  color: #132d46;
}

/*------------ POPULAR ------------*/
#popular {
  background: #132d46;
  border-radius: 25px 25px;
}

.popular__title {
  color: #fff;
}

.popular__container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 50px;
}

.popular__card {
  width: 280px;
  background: #fff;
  border-radius: 25px;
  box-shadow: 0 15px 15px 0 #131212;
}

.popular__data {
  padding: 15px;
  text-align: center;
}

.data--title {
  font-size: 1.5rem;
  font-weight: 800;
  text-transform: uppercase;
  color: #01c36d;
  margin-bottom: 10px;
}

.data--desc {
  margin: 10px;
  font-weight: 500;
  text-wrap: pretty;
  font-size: 0.9rem;
  color: #5a5a5a;
}

/*------------ TESTAMENTS ------------*/
#testaments {
  background-color: #01c36d;
  border-radius: 50px;
}

.testaments__container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 30px;
  user-select: none;
}

.testaments__card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #132d46;
  border-radius: 50px;
  padding: 0 0 15px;
  width: 280px;
}

.testaments__div {
  display: flex;
  align-items: center;
  gap: 15px;
  width: 100%;
  background: #fff;
  padding: 15px 20px;
  border-radius: 50px;
}

.testaments__img {
  width: 50px;
  height: 50px;
  border-radius: 1000px;
  object-fit: cover;
}

.testaments__info {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.testaments__info span {
  color: #000;
  font-weight: 600;
}

.testaments__info strong {
  color: #01c36d;
  font-size: 14px;
}

.card--desc {
  padding: 30px 15px;
  text-wrap: pretty;
  font-size: 0.9rem;
}


/*------------ QUESTIONS ------------*/
#questions {
  background: #132d46;
  border-radius: 100px;
}

.questions__title {
  color: #fff;
}

.questions__container {
  display: flex;
  align-items: center;
  gap: 30px;
  flex-direction: column;
}

.questions__card {
  background: #fff;
  border-radius: 55px;
  padding: 20px;
  width: 280px;
  cursor: pointer;
}

.questions__data--title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  color: #063b23;
  font-weight: 700;
  font-size: .9rem;
  user-select: none;
}

.questions__data--title i {
  font-size: 1.5rem;
}

.questions__data--desc {
  color: #01c36d;
  font-size: 0.9rem;
  margin: 15px 15px 0;
}

/*------------ FOOTER ------------*/
#footer {
  border-radius: 55px;
  margin: 1rem;
  padding: 20px;
  margin-top: 2rem;
  background-color: #132d46;
}

#footer a {
  color: #01c36d;
}

#footer a:hover {
  text-decoration: underline;
}

.footer__container{
  padding: 0 1rem;
  margin: 0 auto;
  width: 100%;
}

.footer__data {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer__logo {
  display: flex;
  align-items: center;
  margin-bottom: 0;
  gap: 10px;
}

.logo--img {
  height: 2rem;
}

.logo--text {
  font-size: .8rem;
  font-weight: 600;
  color: #fff;
}

.footer__list {
  display: flex;
  align-items: center;
  font-size: .8rem;
  font-weight: 500;
}

hr {
  margin: 1.5rem 0;
}

.footer__copy {
  display: block;
  font-size: 0.9rem;
  text-align: center;
}

@media (width >= 417px) {
  .questions__title {
    padding: 0 50px;
  }
  .questions__card {
    width: 350px;
  }
}

@media (width >= 768px) {
  .title{
    padding: 0;
    font-size: 2.8rem;
  }
  .home__title {
    font-size: 3.9rem;
    font-weight: 900;
  }
  .home__desc {
    display: none;
  }
  .desc--two {
    display: block;
  }
  .home__buttons {
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;
  }
  .about__container {
    max-width: 650px;
  }
  .popular__card {
    width: 350px;
  }
  .testaments__card {
    width: 400px;
  }
  .questions__card {
    width: 400px;
  }
  .questions__data--title {
    font-size: 1rem;
  }
  .logo--text {
    font-size: 1rem;
  }
  .footer__list {
    font-size: 1rem;
  }
  .footer__copy {
    font-size: 1rem;
  }
}

@media (width > 1024px) {
  header {
    padding: 20px 0;
  }
  .nav {
    padding: 0;
  }
  .nav__menu {
    display: flex;
  }
  .nav__list {
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
  }
  .nav__link {
    color: #ffffff;
    font-weight: 500;
    text-transform: uppercase;
    transition: .4s;
  }
  .nav__link:hover {
    color: #01c36d;
  }
  .nav__close {
    display: none;
  }
  .nav__toggle {
    display: none;
  }
}

@media (width >= 1160px) {
  .title {
    font-size: 3.5rem;
  }
  .home__title {
    font-size: 4rem;
  }
  .desc--two {
    margin: 40px 0;
    color: #d3d3d3;
  }
  .about__container {
    max-width: 950px;
  }
  .popular__container {
    flex-direction: row;
    flex-wrap: wrap;
  }
  .testaments__container {
    flex-direction: row;
    flex-wrap: wrap;
  }
  .testaments__card {
    width: 300px;
  }
  .popular__card {
    width: 280px;
  }
  .card--desktop {
    width: 350px;
    background: #fff;
  }
  .card--desktop h3 {
    color: #132d46;
    font-weight: 900;
  }
  .card--desktop button {
    background: #132d46;
    border: 1px solid #132d46;
    transition: .5s;
  }
  .card--desktop p {
    color: #063b23;
    font-weight: 500;
  }
  .card--desktop button:hover {
    transform: scale(1.1);
  }
  .questions__card {
    width: 500px;
  }
  .questions__data--title {
    font-size: 1.2rem;
  }
  .questions__data--desc {
    font-size: 1rem;
  }
  .logo--text {
    font-size: 1.2rem;
  }
  .footer__list {
    font-size: 1.2rem;
  }
}
